In [207]:
import pandas as pd
import numpy as np
car=pd.read_csv('/content/quikr_car.csv')

In [214]:
print(car.sample(5) , "\n" ,car.shape,"\n",car.info())

                           name   company  year     Price  kms_driven  \
80          Mahindra Scorpio S4  Mahindra  2015  8,65,000  30,000 kms
542          Maruti Suzuki Alto    Maruti  2010  1,10,000  55,000 kms
252                 Honda Amaze     Honda  2013  2,84,999  46,000 kms
111    Honda Amaze 1.2 S i VTEC     Honda  2014  3,25,000  42,000 kms
65   Mahindra Scorpio SLE BS IV  Mahindra  2012  5,70,000  19,000 kms

    fuel_type
80     Diesel
542    Petrol
252    Diesel
111    Petrol
65     Diesel
 (892, 6)

In [85]:
backup=car.copy()  # dataset ko copy kar liya

In [178]:
car=car[car['year'].str.isnumeric()]   # agr woh value numeric hai tho store kar lo car m or jo nhi hai filter kar do

In [179]:
car['year']=car['year'].astype(int)  # datatype convert object to integer

<ipython-input-179-6901040ba74e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['year']=car['year'].astype(int)  # datatype convert object to integer

In [8]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int64
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.0+ KB

In [9]:
car['Price']

0             80,000
1           4,25,000
2      Ask For Price
3           3,25,000
4           5,75,000
           ...
886         3,00,000
888         2,60,000
889         3,90,000
890         1,80,000
891         1,60,000
Name: Price, Length: 842, dtype: object

In [180]:

car=car[car['Price']!="Ask For Price"]

In [181]:
car['Price']

0        80,000
1      4,25,000
3      3,25,000
4      5,75,000
6      1,75,000
         ...
886    3,00,000
888    2,60,000
889    3,90,000
890    1,80,000
891    1,60,000
Name: Price, Length: 819, dtype: object

In [182]:
car['Price'] = car['Price'].str.replace(',', '').astype(int)

In [13]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int64
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.8+ KB

In [14]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,"45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40 kms,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,"28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,"36,000 kms",Diesel
6,Ford Figo,Ford,2012,175000,"41,000 kms",Diesel
...,...,...,...,...,...,...
886,Toyota Corolla Altis,Toyota,2009,300000,"1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,"27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,"40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,180000,Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,160000,Petrol,NaN

In [183]:
# Commas aur units hatao, sirf numbers rakho
car['kms_driven'] = car['kms_driven'].str.replace(',', '').str.extract('(\d+)').fillna(0).astype(int)

print(car['kms_driven'].head(20))  # Pehli 20 rows check karo

0     45000
1        40
3     28000
4     36000
6     41000
7     25000
8     24530
9     60000
10    60000
11    30000
12    32000
13    48660
14    45000
15       40
16     4000
17    16934
18    43000
19    35550
20    43000
21    39522
Name: kms_driven, dtype: int64

In [16]:
car['kms_driven']

0       45000
1          40
3       28000
4       36000
6       41000
        ...
886    132000
888     27000
889     40000
890         0
891         0
Name: kms_driven, Length: 819, dtype: int64

In [ ]:
car['kms_driven']

0       45000
1          40
3       28000
4       36000
6       41000
        ...
886    132000
888     27000
889     40000
890         0
891         0
Name: kms_driven, Length: 819, dtype: int64

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int64
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.8+ KB

In [ ]:
car['kms_driven']

0       45000
1          40
3       28000
4       36000
6       41000
        ...
886    132000
888     27000
889     40000
890         0
891         0
Name: kms_driven, Length: 819, dtype: int64

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int64
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.8+ KB

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int64
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.8+ KB

In [184]:
print(car.isnull().sum())

name          0
company       0
year          0
Price         0
kms_driven    0
fuel_type     3
dtype: int64

In [185]:
car.dropna(inplace=True)

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.6+ KB

In [ ]:
car['name']

0        Hyundai Santro Xing XO eRLX Euro III
1                     Mahindra Jeep CL550 MDI
3      Hyundai Grand i10 Magna 1.2 Kappa VTVT
4            Ford EcoSport Titanium 1.5L TDCi
6                                   Ford Figo
                        ...
883                Maruti Suzuki Ritz VXI ABS
885                 Tata Indica V2 DLE BS III
886                      Toyota Corolla Altis
888                       Tata Zest XM Diesel
889                        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [186]:
car=car.drop(columns=["name"])

In [ ]:
# car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

<ipython-input-31-6fe3ca63fc43>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [22]:
car  # but showing missing index so reset index

      company  year   Price  kms_driven fuel_type
0     Hyundai  2007   80000       45000    Petrol
1    Mahindra  2006  425000          40    Diesel
3     Hyundai  2014  325000       28000    Petrol
4        Ford  2014  575000       36000    Diesel
6        Ford  2012  175000       41000    Diesel
..        ...   ...     ...         ...       ...
883    Maruti  2011  270000       50000    Petrol
885      Tata  2009  110000       30000    Diesel
886    Toyota  2009  300000      132000    Petrol
888      Tata  2018  260000       27000    Diesel
889  Mahindra  2013  390000       40000    Diesel

[816 rows x 5 columns]

In [187]:
car=car.reset_index(drop=True)

In [24]:
car

      company  year   Price  kms_driven fuel_type
0     Hyundai  2007   80000       45000    Petrol
1    Mahindra  2006  425000          40    Diesel
2     Hyundai  2014  325000       28000    Petrol
3        Ford  2014  575000       36000    Diesel
4        Ford  2012  175000       41000    Diesel
..        ...   ...     ...         ...       ...
811    Maruti  2011  270000       50000    Petrol
812      Tata  2009  110000       30000    Diesel
813    Toyota  2009  300000      132000    Petrol
814      Tata  2018  260000       27000    Diesel
815  Mahindra  2013  390000       40000    Diesel

[816 rows x 5 columns]

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 38.4+ KB

In [ ]:
car.describe()  # but a outliers becoz 75% car 5 lakh tk hai lekin achnak se maximum 85 lakh phoch gya outliers

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [188]:
car[car['Price']>6e6]

      company  year    Price  kms_driven fuel_type
534  Mahindra  2014  8500003       45000    Diesel

In [189]:
car=car[car['Price']<6e6].reset_index(drop=True)

In [26]:
car

      company  year   Price  kms_driven fuel_type
0     Hyundai  2007   80000       45000    Petrol
1    Mahindra  2006  425000          40    Diesel
2     Hyundai  2014  325000       28000    Petrol
3        Ford  2014  575000       36000    Diesel
4        Ford  2012  175000       41000    Diesel
..        ...   ...     ...         ...       ...
810    Maruti  2011  270000       50000    Petrol
811      Tata  2009  110000       30000    Diesel
812    Toyota  2009  300000      132000    Petrol
813      Tata  2018  260000       27000    Diesel
814  Mahindra  2013  390000       40000    Diesel

[815 rows x 5 columns]

In [190]:
car.to_csv('cleaned_car_Data.csv')

# Model

In [191]:
car=pd.read_csv('/content/cleaned_car_Data.csv')

In [192]:
x=car.drop(columns='Price')

In [193]:
x["company"].value_counts()

company
Maruti        221
Hyundai       139
Mahindra       97
Tata           65
Honda          60
Toyota         36
Chevrolet      34
Renault        33
Ford           30
Volkswagen     19
Skoda          13
Audi           11
Mini            8
BMW             8
Datsun          7
Mitsubishi      6
Nissan          6
Mercedes        6
Fiat            4
Force           4
Hindustan       3
Jaguar          2
Land            1
Jeep            1
Volvo           1
Name: count, dtype: int64

In [194]:
import pandas as pd

x = pd.get_dummies(x, columns=["company"], prefix="company")

In [113]:
# # First, check the actual column names
# print(x.columns)

# # Rename if necessary
# x.rename(columns={"company": "compney"}, inplace=True)  # Change "company" to match expected name

# # Create encoding where the highest count gets the highest integer
# company_ranking = {company: rank for rank, company in enumerate(x["compney"].value_counts().index, 1)}

# # Apply encoding
# x["compney_encoded"] = x["compney"].map(company_ranking)

# # Display results
# print(x[["compney", "compney_encoded"]].head())

# x=x.drop(columns=['compney','Unnamed: 0'])

Index(['Unnamed: 0', 'company', 'year', 'kms_driven', 'fuel_type'], dtype='object')
    compney  compney_encoded
0   Hyundai                2
1  Mahindra                3
2   Hyundai                2
3      Ford                9
4      Ford                9

In [195]:
x = pd.get_dummies(x, columns=["fuel_type"], prefix="fuel_type")

In [196]:

x = x.replace({False: int(0), True: int(1)})

<ipython-input-196-b3e3c772ba0d>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  x = x.replace({False: int(0), True: int(1)})

In [200]:
x

,year,kms_driven,company_Audi,company_BMW,company_Chevrolet,company_Datsun,company_Fiat,company_Force,company_Ford,company_Hindustan,...,company_Nissan,company_Renault,company_Skoda,company_Tata,company_Toyota,company_Volkswagen,company_Volvo,fuel_type_Diesel,fuel_type_LPG,fuel_type_Petrol
0,2007,45000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2006,40,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,2014,28000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2014,36000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,2012,41000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
810,2011,50000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
811,2009,30000,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
812,2009,132000,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
813,2018,27000,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
814,2013,40000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [199]:
x.columns
x=x.drop(columns=['Unnamed: 0'])

In [201]:
y=car['Price']

In [202]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int64

In [203]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train.values.ravel())
y_pred = rf_model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

print(f"Mean Absolute Error: {mae}")
print(f"Root Mean Squared Error: {rmse}")
print(f"RÂ² Score: {r2}")

Mean Absolute Error: 138589.96290563833
Root Mean Squared Error: 290914.88387463044
RÂ² Score: 0.5844084825640818

In [204]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Split dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# ------------------- Linear Regression -------------------
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)
y_pred_lr = lr_model.predict(X_test)

# ------------------- Neural Network (MLP) -------------------
mlp_model = MLPRegressor(hidden_layer_sizes=(64, 64), activation='relu', solver='adam', max_iter=500, random_state=42)
mlp_model.fit(X_train, y_train.values.ravel())
y_pred_mlp = mlp_model.predict(X_test)

# ------------------- XGBoost -------------------
xgb_model = XGBRegressor(n_estimators=100, learning_rate=0.1, random_state=42)
xgb_model.fit(X_train, y_train)
y_pred_xgb = xgb_model.predict(X_test)

# ------------------- Random Forest -------------------
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train.values.ravel())
y_pred_rf = rf_model.predict(X_test)

# ------------------- Evaluation Function -------------------
def evaluate_model(y_test, y_pred, model_name):
    mae = mean_absolute_error(y_test, y_pred)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    r2 = r2_score(y_test, y_pred)
    print(f"\n{model_name} Performance:")
    print(f"Mean Absolute Error (MAE): {mae}")
    print(f"Root Mean Squared Error (RMSE): {rmse}")
    print(f"RÂ² Score: {r2}")

# Evaluate all models
evaluate_model(y_test, y_pred_lr, "Linear Regression")
evaluate_model(y_test, y_pred_mlp, "Neural Network (MLP)")
evaluate_model(y_test, y_pred_xgb, "XGBoost")
evaluate_model(y_test, y_pred_rf, "Random Forest")

Linear Regression Performance:
Mean Absolute Error (MAE): 157447.62808205502
Root Mean Squared Error (RMSE): 272334.6313363941
RÂ² Score: 0.6357995018040394

Neural Network (MLP) Performance:
Mean Absolute Error (MAE): 259210.75034980266
Root Mean Squared Error (RMSE): 439179.9065971904
RÂ² Score: 0.05284792280084605

XGBoost Performance:
Mean Absolute Error (MAE): 148249.9375
Root Mean Squared Error (RMSE): 299176.00759419193
RÂ² Score: 0.5604702234268188

Random Forest Performance:
Mean Absolute Error (MAE): 138589.96290563833
Root Mean Squared Error (RMSE): 290914.88387463044
RÂ² Score: 0.5844084825640818

Final model

In [205]:
import pandas as pd
import numpy as np
import joblib
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
final_model = LinearRegression()
final_model.fit(X_train, y_train)
joblib.dump(final_model, "car_price_model.pkl")
joblib.dump(x.columns, "model_features.pkl")

Model saved successfully!

In [206]:
# Load the trained model and feature names
loaded_model = joblib.load("car_price_model.pkl")
feature_names = joblib.load("model_features.pkl")

# Function to take user input and predict price
def predict_car_price(company, year, kms_driven, fuel_type):
    # Create a dataframe with user input
    input_data = pd.DataFrame(columns=feature_names)
    input_data.loc[0] = np.zeros(len(feature_names))  # Initialize with zeros

    # Set user inputs in dataframe
    input_data["year"] = year
    input_data["kms_driven"] = kms_driven

    # Encode categorical inputs
    company_col = f"company_{company}"
    fuel_col = f"fuel_type_{fuel_type}"

    if company_col in input_data.columns:
        input_data[company_col] = 1
    if fuel_col in input_data.columns:
        input_data[fuel_col] = 1

    # Predict price
    predicted_price = loaded_model.predict(input_data)[0]
    return predicted_price

# Example: User input
company = input("Enter car company (e.g., Hyundai, Maruti, Ford): ")
year = int(input("Enter car manufacturing year: "))
kms_driven = int(input("Enter kilometers driven: "))
fuel_type = input("Enter fuel type (Petrol/Diesel/LPG): ")

predicted_price = predict_car_price(company, year, kms_driven, fuel_type)
print(f"Predicted Car Price: â‚¹{predicted_price:,.2f}")

Enter car company (e.g., Hyundai, Maruti, Ford): Hyundai
Enter car manufacturing year: 2010
Enter kilometers driven: 28000
Enter fuel type (Petrol/Diesel/LPG): Petrol
Predicted Car Price: â‚¹224,966.83